.graph {
    margin: 10rem auto 1rem auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 5px solid black;
    width: 50rem;
    height: 35rem;

    @media (max-width: 800px) {
        margin: 0;
        width: 35rem;
        height: 38rem;
    }

    @media (max-width: 500px) {
        margin: 0;
        width: 20rem;
        height: 26rem;
    }
}