.block {
    list-style: none;
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid black;
    border-radius: 7px;
    background: #2424fff6
}

.block.yellow-highlight {
    background: yellow;
}

.block.orange-highlight {
    background: orangered;
}