.block {
    list-style: none;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 7px;
    background: #2424fff6
}

.block.pointing {
    background: yellow;
}

.block.right-pointing {
    background: orangered;
}