.block {
    list-style: none;
    height: .85rem;
    width: 1rem;
    border: 1px solid black;
    background: #2424fff6;

    @media (max-width: 800px) {
        height: .55rem;
        width: .55rem;
    }

    @media (max-width: 500px) {
        height: 0.42rem;
        width: 0.50rem;
    }
}

.block.yellow-highlight {
    background: yellow;
}

.block.orange-highlight {
    background: orangered;
}
