* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin: 2rem 0;
    color: rgb(186, 186, 250);
  }

  .buttons-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: 150px;
    outline: none;
    color: white;
    border: 1px solid greenyellow;
    background-color: green;
    transition: .2s ease;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      transform: scale(.95);
    }
    
    @media (max-width: 800px) {
      width: 130px;
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: .7rem;
    }

    @media (max-width: 500px) {
      width: 130px;
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: .7rem;
    }
  }
}