* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;

  .title {
    margin: 2rem 0;
    color: rgb(186, 186, 250);
  }

  .button {
    margin: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: 150px;
    outline: none;
    color: white;
    border: 1px solid greenyellow;
    background-color: green;
    transition: .2s ease;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      transform: scale(.95);
    }
  }
}